In [1]:
import numpy as np
from numpy import NaN as NA
import pandas as pd
from numpy.random import randn
from numpy.random import rand
from numpy.random import randint
from numpy.linalg import inv,qr, eig ,det ,svd

import matplotlib.pyplot as plt
import random

from pandas import DataFrame , Series
from datetime import datetime

In [65]:
s  = DataFrame(
        randn(12).reshape(3,4),
)
s

          0         1         2         3
0  0.119718 -0.614187  0.255436 -1.428930
1 -0.309789  1.086715 -1.325690  0.094246
2  0.253781  0.678095  0.958479 -1.137955

In [18]:
s1  = DataFrame(
        randn(12).reshape(3,4),
    index = [1,2,3],
    columns=[2,3,4,7]
)
s1

          2         3         4         7
1  0.511418 -0.624508  0.221012 -0.062309
2  1.470013 -0.130413 -0.131180  1.310455
3 -0.953779 -0.190462  1.447975 -1.215767

In [20]:
s[[0, 1, 2]] = s1[[2,3,7]]

In [21]:
s

          0         1         2         3
0       NaN       NaN       NaN  0.187787
1  0.511418 -0.624508 -0.062309 -0.071515
2  1.470013 -0.130413  1.310455  0.512392

In [40]:
s2  = DataFrame(
        randn(8).reshape(2,4),
    index = [110,222],
    columns=[2,4,7,5]
)
s2

            2         4         7         5
110 -0.887497 -0.390303  0.137795  0.157325
222  0.293853  0.362833 -0.001515  0.452606

In [51]:
s2

            2         4         7         5
110 -0.887497 -0.390303  0.137795  0.157325
222  0.293853  0.362833 -0.001515  0.452606

In [67]:
s[[0, 1, 2]] = s2.loc[[110,222],[2,4,7]]

In [68]:
s2.loc[[110,222],[2,4,7]]

            2         4         7
110 -0.887497 -0.390303  0.137795
222  0.293853  0.362833 -0.001515

In [69]:
s

    0   1   2         3
0 NaN NaN NaN -1.428930
1 NaN NaN NaN  0.094246
2 NaN NaN NaN -1.137955