In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn
from numpy.linalg import inv,qr, eig ,det ,svd

import matplotlib.pyplot as plt
import random

from pandas import DataFrame , Series

## 不等长序列进行==比较

In [187]:
d1 = DataFrame([1,2,3,4])

In [188]:
d1

   0
0  1
1  2
2  3
3  4

In [189]:
d2 = DataFrame([1,2,3])

In [190]:
d1 == d2

ValueError: Can only compare identically-labeled DataFrame objects

In [191]:
d3 = DataFrame([1,2,3])

In [192]:
d2 == d3 #必须等长

      0
0  True
1  True
2  True

In [249]:
Series(d1) == Series(d2)

TypeError: 'numpy.int64' object is not iterable

In [250]:
d1

    0
s   1
f   2
fi  3
fo  4

In [251]:
d2

   0
0  1
1  2
2  3

In [257]:
d1 ==d2

ValueError: Can only compare identically-labeled DataFrame objects

In [256]:
DataFrame(d1) == d1

       0
s   True
f   True
fi  True
fo  True

## 等长但是dtype不同的类型==比较

In [193]:
d4 = DataFrame(['1','2','3'])

In [194]:
d3 == d4 #跑得通

       0
0  False
1  False
2  False

## 将boolean序列应用于某个等长的序列的结果

In [195]:
c1 = d3 == d4

In [196]:
c1[0][1] = True

In [197]:
c1

       0
0  False
1   True
2  False

In [198]:
dc = DataFrame([1,3,'2'])

In [199]:
dc[c1] #false对应的数据消失生成NaN，True对应的数据保留，总长度不变

     0
0  NaN
1    3
2  NaN

In [200]:
d1[c1] #boolean序列可以应用到不等长的序列上

     0
0  NaN
1  2.0
2  NaN
3  NaN

In [201]:
c1

       0
0  False
1   True
2  False

In [202]:
na1 = np.array([1,2,3,5])

In [203]:
na2 = np.array([1,2,3,4])

In [204]:
na1 == na2

array([ True,  True,  True, False], dtype=bool)

In [205]:
na3 = np.array([1,2,3])

In [206]:
na1 == na3

/home/zhanghui/py35/lib/python3.5/site-packages/ipykernel_launcher.py:1: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.
  """Entry point for launching an IPython kernel.

False

In [259]:
na1[na3] #被当做索引了

array([2, 3, 5])

In [262]:
na1[[True,False,False,True]]#被当做索引了

array([1, 5])

## na1和na2给予index之后，进行筛选的结果

In [265]:
na2.index =[1,2,4,6]

AttributeError: 'numpy.ndarray' object has no attribute 'index'

* 连index都没有

In [210]:
na3_ = np.array([1,2,0])

In [211]:
na3

array([1, 2, 3])

In [212]:
na3_

array([1, 2, 0])

In [214]:
Series(na3 == na3_)

0     True
1     True
2    False
dtype: bool

In [216]:
na1[na3 == na3_]

IndexError: boolean index did not match indexed array along dimension 0; dimension is 4 but corresponding boolean dimension is 3

In [228]:
s1 = Series(na3 == na3_)

In [229]:
s1.index = ['ddf','asd','fvd']

In [230]:
s1

ddf     True
asd     True
fvd    False
dtype: bool

In [231]:
s2 = DataFrame(na1)

In [232]:
s2.index=['ddf','asd','s','a']

In [233]:
s2

     0
ddf  1
asd  2
s    3
a    5

In [234]:
s2[s1]

/home/zhanghui/py35/lib/python3.5/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

* 将boolean序列继续转换为Dataframe,让列对应列

In [244]:
s1_ =DataFrame(s1)

In [245]:
s2[s1_]

       0
ddf  1.0
asd  2.0
s    NaN
a    NaN

* 成功

In [276]:
s1__ = Series(s1)
s1__

ddf     True
asd     True
fvd    False
dtype: bool

In [270]:
s2

     0
ddf  1
asd  2
s    3
a    5

In [271]:
s2__ = Series(s2) #出错原因：即使是一行的Frame也不能直接Series转换类型

TypeError: 'numpy.int64' object is not iterable

In [274]:
s2__ = Series(s2[0])

### 序列不能应用不等长的boolean序列,报索引错误

In [275]:
s1__[s2__]

IndexError: index 3 is out of bounds for axis 1 with size 3

In [277]:
s2__[s1__]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [279]:
s2__[Series([True,True,True,False])]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [280]:
type(s2__)

pandas.core.series.Series

In [282]:
s2__

ddf    1
asd    2
s      3
a      5
Name: 0, dtype: int64

In [281]:
s2__[[1,2,3,4]]

IndexError: index 4 is out of bounds for axis 1 with size 4

##  有index的boolean应用到同样有index的不等长的序列上

In [235]:
c1

       0
f  False
s   True
t  False

In [236]:
c1.index = ['f','s','t']

In [242]:
type(c1)

pandas.core.frame.DataFrame

In [237]:
c1

       0
f  False
s   True
t  False

In [238]:
d1

    0
s   1
f   2
fi  3
fo  4

In [239]:
d1.index = ['s','f','fi','fo']

In [240]:
d1

    0
s   1
f   2
fi  3
fo  4

In [241]:
d1[c1]

      0
s   1.0
f   NaN
fi  NaN
fo  NaN

* d1的结果对照c1，按照索引进行逻辑判断操作，没有的或者为False的都被视为NaN.但是这只是选择并没有复制操作，因此不改变d1

In [113]:
d1

    0
s   1
f   2
fi  3
fo  4

In [110]:
d1[0]['s'] #这是个Frame至少两个坐标

1

In [111]:
Series([1,2,3])[1] #这是个Series一个坐标选中元素

2

## 对照某个结果，建立新column

In [86]:
d1.dtypes

0    int64
dtype: object

In [100]:
d1

   0
0  1
1  2
2  3
3  4

In [87]:
type(d1)

pandas.core.frame.DataFrame

In [114]:
d1_n = d1.copy()

In [115]:
d1_n['re'] = -1

In [116]:
d1_n

    0  re
s   1  -1
f   2  -1
fi  3  -1
fo  4  -1

In [117]:
c1

       0
f  False
s   True
t  False

In [118]:
d1[c1]

      0
s   1.0
f   NaN
fi  NaN
fo  NaN

In [119]:
d1[c1] ='ss'

* 其实就是最常见的用法;但是如果d1和c1没有index交集，赋值操作没有作用,下面是一个演示:

In [128]:
c2 = c1.copy()

In [130]:
c1

       0
f  False
s   True
t  False

In [129]:
c2.index = ['sa','dd','gg']

In [131]:
c2

        0
sa  False
dd   True
gg  False

In [133]:
d1[c2]

      0
s   NaN
f   NaN
fi  NaN
fo  NaN

In [134]:
d1[c2] = 'sd'

In [135]:
d1

     0
s   ss
f    2
fi   3
fo   4

In [136]:
d1_n = d1.copy()
d1_n['result'] =3

In [137]:
d1

     0
s   ss
f    2
fi   3
fo   4

In [138]:
d1_n

     0  result
s   ss       3
f    2       3
fi   3       3
fo   4       3

In [143]:
d1_n.loc[['s'],['result']] #注意：两个都要带[]

   result
s       3

In [145]:
d1_n.loc[:,'result'] #只有一个的话，可以不带

s     3
f     3
fi    3
fo    3
Name: result, dtype: int64

In [146]:
d1_n.loc['s','result']

3

In [147]:
d1_n.loc['s','result_asa'] #注意key找不到发生错误

KeyError: 'the label [result_asa] is not in the [index]'

In [148]:
c1

       0
f  False
s   True
t  False

In [149]:
d1_n

     0  result
s   ss       3
f    2       3
fi   3       3
fo   4       3

In [150]:
d1_n.loc[[True,True,False] , 'result']

s    3
f    3
Name: result, dtype: int64

In [151]:
d1_n.loc[[True,True,False] , 'result'] = 'add'

In [152]:
d1_n

     0 result
s   ss    add
f    2    add
fi   3      3
fo   4      3