In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn
from numpy.linalg import inv,qr, eig ,det ,svd

import matplotlib.pyplot as plt
import random

from pandas import DataFrame , Series

## Series

In [4]:
obj = Series([4,7,-5,3])

In [5]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [8]:
obj.values

array([ 4,  7, -5,  3])

In [2]:
obj2 = Series([4,7,-5,3],index=['a','b',"c",'d'])

In [10]:
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [12]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
obj2[obj2>0]

a    4
b    7
d    3
dtype: int64

In [14]:
'b' in obj2

True

In [3]:
obj2_dict = obj2.to_dict()

In [4]:
obj2_dict

{'a': 4, 'b': 7, 'c': -5, 'd': 3}

In [5]:
obj2 = Series(obj2_dict)
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [7]:
'a' in obj2

True

In [10]:
sdata = {'aa':12,"dfas":444,"sag":13,'hh':68}

In [11]:
sdata

{'aa': 12, 'dfas': 444, 'hh': 68, 'sag': 13}

In [12]:
obj3 = Series(sdata)

In [13]:
obj3

aa       12
dfas    444
hh       68
sag      13
dtype: int64

In [32]:
states = list(sdata.keys())

In [33]:
states.remove('hh')
states.append('kk')

In [34]:
obj4 = Series(sdata ,index = states)

In [35]:
obj4

dfas    444.0
aa       12.0
sag      13.0
kk        NaN
dtype: float64

In [36]:
pd.isnull(obj4)

dfas    False
aa      False
sag     False
kk       True
dtype: bool

In [37]:
obj4.isnull()

dfas    False
aa      False
sag     False
kk       True
dtype: bool

In [38]:
obj3

aa       12
dfas    444
hh       68
sag      13
dtype: int64

In [42]:
print(obj4.name)

None

In [43]:
obj4.name = 'obj4'

In [44]:
print(obj4.name)

obj4

In [45]:
obj4.index

Index(['dfas', 'aa', 'sag', 'kk'], dtype='object')

In [46]:
obj4.index.name

In [47]:
obj4.index.name  = 'obj4_index'

## DataFrame

In [48]:
data = {'state':['ohio','ohio','ohio','nevada','nevada'],
        'year':[2000,2001,2002,2001,2002],
        'pop':[1.5,1.7,3.6,2.4,2.9]
       }

In [49]:
data

{'pop': [1.5, 1.7, 3.6, 2.4, 2.9],
 'state': ['ohio', 'ohio', 'ohio', 'nevada', 'nevada'],
 'year': [2000, 2001, 2002, 2001, 2002]}

In [50]:
frame = DataFrame(data)

In [51]:
frame

   pop   state  year
0  1.5    ohio  2000
1  1.7    ohio  2001
2  3.6    ohio  2002
3  2.4  nevada  2001
4  2.9  nevada  2002

In [52]:
DataFrame(data, columns = [1,2,3])#没有这三列

Empty DataFrame
Columns: [1, 2, 3]
Index: []

In [ ]:
DataFrame(data, columns = [])

## 时间和时间处理知识

In [3]:
from datetime import datetime ,timedelta , date , time

In [21]:
datetime.now()

datetime.datetime(2017, 6, 7, 12, 50, 51, 671801)

In [31]:

time.strftime(time(16,12,2),'%Y%m%d')

'19000101'

In [29]:
time(12,5,3)

datetime.time(12, 5, 3)

In [23]:
datetime(2016,12,2)

datetime.datetime(2016, 12, 2, 0, 0)

In [75]:
date(2017,2,3)

datetime.date(2017, 2, 3)

In [76]:
datetime()

TypeError: an integer is required (got type datetime.date)

In [71]:
_.today()

datetime.date(2017, 6, 6)

In [72]:
_

datetime.date(2017, 6, 6)

In [29]:
_.date()

datetime.date(2017, 6, 6)

In [30]:
_.day

6

In [31]:
_28

datetime.datetime(2017, 6, 6, 16, 46, 43, 446886)

In [34]:
datetime.now() - _31

datetime.timedelta(0, 93, 683813)

In [38]:
_28 + timedelta(12)

datetime.datetime(2017, 6, 18, 16, 46, 43, 446886)

In [41]:
stamp = datetime(2012,2,3)

In [40]:
str(_)

'2012-02-03 00:00:00'

In [42]:
stamp.strftime('%Y%m%d')

'20120203'

In [43]:
value  = _

In [44]:
value

'20120203'

In [45]:
datetime.strptime(value,'%Y%m%d')

datetime.datetime(2012, 2, 3, 0, 0)

In [46]:
from dateutil.parser import parse

In [48]:
parse(value)

datetime.datetime(2012, 2, 3, 0, 0)

In [49]:
datastrs =['20120713','20130622']

In [50]:
pd.to_datetime(datastrs)

DatetimeIndex(['2012-07-13', '2013-06-22'], dtype='datetime64[ns]', freq=None)

In [51]:
pd.to_datetime(datastrs + [None])

DatetimeIndex(['2012-07-13', '2013-06-22', 'NaT'], dtype='datetime64[ns]', freq=None)

In [52]:
_[2]

NaT

In [53]:
type(_)

pandas.tslib.NaTType

In [54]:
datetime.now()

datetime.datetime(2017, 6, 6, 17, 6, 9, 216452)

In [55]:
_.strftime('年:%Y月:%m日:%d小时:%H分钟:%M秒:%S')

'年:2017月:06日:06小时:17分钟:06秒:09'

In [56]:
_54.strftime('%w %W%z')

'2 23'

In [57]:
_54.strftime('%w %W %z')

'2 23 '

In [58]:
_54.strftime('%F')

'2017-06-06'

In [59]:
_54.strftime('%a %A')

'Tue Tuesday'

In [60]:
_54.strftime('%b %B')

'Jun June'

In [61]:
_54.strftime('%c')

'Tue Jun  6 17:06:09 2017'

In [62]:
_54.strftime('%p')

'PM'

In [63]:
_54.strftime('%X %x')

'17:06:09 06/06/17'