# 数据聚合和分组运算

In [1]:
import numpy as np
from numpy import NaN as NA
import pandas as pd
from numpy.random import randn
from numpy.linalg import inv,qr, eig ,det ,svd

import matplotlib.pyplot as plt
import random

from pandas import DataFrame , Series

In [3]:
df = DataFrame({ 'key1':list('aabba'),
                'key2':'one,two,one,two,one'.split(','),
                'data1':np.random.randn(5),
                'data2':np.random.randn(5)
            
})

In [4]:
df

      data1     data2 key1 key2
0 -0.882622 -0.259932    a  one
1  0.542232 -0.217811    a  two
2 -1.931732  0.008450    b  one
3 -0.199144  0.240973    b  two
4  0.195455  0.062002    a  one

In [5]:
grouped = df['data1'].groupby(df['key1'])

In [6]:
grouped

In [8]:
grouped.mean()

key1
a   -0.048311
b   -1.065438
Name: data1, dtype: float64

In [9]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [10]:
means

key1  key2
a     one    -0.343583
      two     0.542232
b     one    -1.931732
      two    -0.199144
Name: data1, dtype: float64

In [11]:
means.unstack()

key2       one       two
key1
a    -0.343583  0.542232
b    -1.931732 -0.199144

In [14]:
states = np.array('Ohio,Calfornia,California,Ohio,Ohio'.split(','))

In [17]:
years = np.array([2005, 2005, 2006, 2005, 2006])

In [18]:
df['data1'].groupby([states, years]).mean()

Calfornia   2005    0.542232
California  2006   -1.931732
Ohio        2005   -0.540883
            2006    0.195455
Name: data1, dtype: float64

In [19]:
df

      data1     data2 key1 key2
0 -0.882622 -0.259932    a  one
1  0.542232 -0.217811    a  two
2 -1.931732  0.008450    b  one
3 -0.199144  0.240973    b  two
4  0.195455  0.062002    a  one