In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn
from numpy.linalg import inv,qr, eig ,det ,svd

import matplotlib.pyplot as plt
import random

## apply应用于Dataframe

In [5]:
s1 = pd.DataFrame(randn(3,4))

In [7]:
s1

          0         1         2         3
0  1.401331  0.087433 -1.006389  0.038830
1  0.281475  1.319547 -0.925834  1.117157
2  1.165765  1.857282 -0.059233  0.820818

In [6]:
s1.apply(lambda x:-x)

          0         1         2         3
0 -1.401331 -0.087433  1.006389 -0.038830
1 -0.281475 -1.319547  0.925834 -1.117157
2 -1.165765 -1.857282  0.059233 -0.820818

In [9]:
s1.groupby(1,axis=1).apply(lambda x:-x)

          0         1         2   3
0 -1.401331 -0.087433  1.006389 NaN
1 -0.281475 -1.319547  0.925834 NaN
2 -1.165765 -1.857282  0.059233 NaN

In [11]:
s1.groupby(1).apply(lambda x:x.sum())

                 0         1         2         3
1
0.087433  1.401331  0.087433 -1.006389  0.038830
1.319547  0.281475  1.319547 -0.925834  1.117157
1.857282  1.165765  1.857282 -0.059233  0.820818

In [16]:
s1.groupby(0, axis=0).apply(lambda x:x.sum())

                 0         1         2         3
0
0.281475  0.281475  1.319547 -0.925834  1.117157
1.165765  1.165765  1.857282 -0.059233  0.820818
1.401331  1.401331  0.087433 -1.006389  0.038830