In [1]:
from numpy import NaN
from pandas import Series, DataFrame
import numpy as np

In [2]:
type(None)

NoneType

In [3]:
type(NaN)

float

In [4]:
{None:1}

{None: 1}

In [5]:
{NaN:1}

{nan: 1}

In [6]:
print(NaN)

nan

In [7]:
print(None)

None

In [8]:
s = Series([None, NaN, 'a'])

In [9]:
s

0    None
1     NaN
2       a
dtype: object

In [10]:
s.map({None:1})

0    1.0
1    1.0
2    NaN
dtype: float64

In [11]:
s.map({NaN:1})

0   NaN
1   NaN
2   NaN
dtype: float64

In [12]:
s

0    None
1     NaN
2       a
dtype: object

In [15]:
type(s[0])

NoneType

In [19]:
s.map({None:1,NaN:2,'a':'a'})

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [23]:
s.map({'a':'ss',NaN:2,'a':'a'})

0    2
1    2
2    a
dtype: object

In [20]:
s.map({None:1,'a':'a'})

0    1
1    1
2    a
dtype: object

In [21]:
s.map({NaN:2,'a':'a'})

0    2
1    2
2    a
dtype: object

In [24]:
s.replace([None],9)

0    9
1    9
2    a
dtype: object

## np pd函数不支持None

In [25]:
np.nansum([1,2,NaN])

3.0

In [26]:
np.nansum([1,2,None])

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

## None对数据容器类型的污染

In [27]:
np.array([1,None]).dtype

dtype('O')

In [28]:
np.array([1,NaN]).dtype

dtype('float64')

In [30]:
Series([1, NaN])

0    1.0
1    NaN
dtype: float64

In [31]:
Series([1, None])

0    1.0
1    NaN
dtype: float64

## pandas的自动转换

In [33]:
Series([None,1])

0    NaN
1    1.0
dtype: float64

In [35]:
Series([None,"1"])

0    None
1       1
dtype: object

In [36]:
Series([None,True])

0    None
1    True
dtype: object

## 等值性判断

In [37]:
None == None

True

In [38]:
NaN == NaN

False

In [43]:
NaN is NaN

True

In [40]:
print(type(NaN))

<class 'float'>

In [41]:
id(NaN)

71912904

In [42]:
id(NaN)

71912904

In [44]:
[1,2,3] is list

False

In [45]:
[1,2,3] is [1,2,3]

False

In [47]:
a = [1,2,3]

In [48]:
a is [1,2,3]

False

In [49]:
a is a

True

In [50]:
1 is 1

True

In [51]:
(1, NaN) == (1, NaN)

True

In [52]:
NaN == NaN

False

In [53]:
np.testing.assert_equal(np.array([1,NaN]), np.array([1,NaN]))

In [54]:
np.testing.assert_equal(np.array([1,None]), np.array([1,None]))

In [55]:
np.testing.assert_equal(np.array([1,None]), np.array([1,NaN]))

AssertionError:
Arrays are not equal

(mismatch 50.0%)
 x: array([1, None], dtype=object)
 y: array([  1.,  nan])

In [56]:
Series([None,'a']) == Series([None,'a'])

0    False
1     True
dtype: bool

In [57]:
Series([NaN,'a']).equals(Series([NaN,'a']))

True

In [58]:
Series([None,'a']).equals(Series([None,'a']))

True

In [59]:
Series([None,'a']).equals(Series([NaN,'a']))

True

## 在DataFrame merge中的表现

In [60]:
a = DataFrame({'A':[None,'a']})
b = DataFrame({'A':[None,'a']})

In [61]:
a

      A
0  None
1     a

In [62]:
b

      A
0  None
1     a

In [63]:
a.merge(b,on='A', how = 'outer')

      A
0  None
1     a

In [64]:
a = DataFrame({'A':[NaN,'a']})
b = DataFrame({'A':[NaN,'a']})

In [65]:
a.merge(b,on='A', how = 'outer')

     A
0  NaN
1    a

In [66]:
None == None

True

In [67]:
NaN is NaN

True

> numpy中的NaN类型的概念类似于数据库的null概念，表示未知，不相等。但是is判断结果为真

In [68]:
a = DataFrame({'A':[None,'a']})
b = DataFrame({'A':[NaN,'a']})
a.merge(b,on='A', how = 'outer')

      A
0  None
1     a

In [69]:
d = DataFrame({'A':[1,1,1,1,2],'B':[None,None,'a','a','b']})
d.groupby(['A','B']).apply(len)

A  B
1  a    2
2  b    1
dtype: int64

In [70]:
d

   A     B
0  1  None
1  1  None
2  1     a
3  1     a
4  2     b

In [71]:
s = Series([None,NaN,'a'])
s

0    None
1     NaN
2       a
dtype: object

In [72]:
s.replace([NaN],None)

0    None
1    None
2       a
dtype: object

In [73]:
s[s.isnull()]=None
s

0    None
1    None
2       a
dtype: object

** Series的自动转换

In [74]:
s = Series([NaN,1])
s

0    NaN
1    1.0
dtype: float64

In [76]:
s.replace([NaN], None)

0    NaN
1    1.0
dtype: float64

In [75]:
s[s.isnull()] = None
s

0    NaN
1    1.0
dtype: float64

## 为了让NaN和NaN判断为相等，使用内建的方法

In [77]:
h = Series([NaN,'a'])

In [78]:
h.gt(h)

0    False
1    False
dtype: bool

In [79]:
h.ge(h)

0    False
1     True
dtype: bool

In [81]:
h.eq(h)

C:\Program Files\Anaconda3\lib\site-packages\pandas\core\series.py:1644: FutureWarning: numpy equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  result = func(this_vals, other_vals)

0    True
1    True
dtype: bool

In [83]:
h.equals(h)  #整体相等

True

In [84]:
h == h

0    False
1     True
dtype: bool

In [85]:
h.eq(h)

C:\Program Files\Anaconda3\lib\site-packages\pandas\core\series.py:1644: FutureWarning: numpy equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  result = func(this_vals, other_vals)

0    True
1    True
dtype: bool