In [1]:
    import numpy as np
    import pandas as pd
    from numpy.random import randn
    from numpy.linalg import inv,qr, eig ,det ,svd

    import matplotlib.pyplot as plt
    import random

    from pandas import DataFrame , Series

## Series

In [4]:
obj = Series([4,7,-5,3])

In [5]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [8]:
obj.values

array([ 4,  7, -5,  3])

In [2]:
obj2 = Series([4,7,-5,3],index=['a','b',"c",'d'])

In [10]:
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [12]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
obj2[obj2>0]

a    4
b    7
d    3
dtype: int64

In [14]:
'b' in obj2

True

In [3]:
obj2_dict = obj2.to_dict()

In [4]:
obj2_dict

{'a': 4, 'b': 7, 'c': -5, 'd': 3}

In [5]:
obj2 = Series(obj2_dict)
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [7]:
'a' in obj2

True

In [10]:
sdata = {'aa':12,"dfas":444,"sag":13,'hh':68}

In [11]:
sdata

{'aa': 12, 'dfas': 444, 'hh': 68, 'sag': 13}

In [12]:
obj3 = Series(sdata)

In [13]:
obj3

aa       12
dfas    444
hh       68
sag      13
dtype: int64

In [32]:
states = list(sdata.keys())

In [33]:
states.remove('hh')
states.append('kk')

In [34]:
obj4 = Series(sdata ,index = states)

In [35]:
obj4

dfas    444.0
aa       12.0
sag      13.0
kk        NaN
dtype: float64

In [36]:
pd.isnull(obj4)

dfas    False
aa      False
sag     False
kk       True
dtype: bool

In [37]:
obj4.isnull()

dfas    False
aa      False
sag     False
kk       True
dtype: bool

In [38]:
obj3

aa       12
dfas    444
hh       68
sag      13
dtype: int64

In [42]:
print(obj4.name)

None

In [43]:
obj4.name = 'obj4'

In [44]:
print(obj4.name)

obj4

In [45]:
obj4.index

Index(['dfas', 'aa', 'sag', 'kk'], dtype='object')

In [46]:
obj4.index.name

In [47]:
obj4.index.name  = 'obj4_index'

## DataFrame

In [2]:
data = {'state':['ohio','ohio','ohio','nevada','nevada'],
        'year':[2000,2001,2002,2001,2002],
        'pop':[1.5,1.7,3.6,2.4,2.9]
       }

In [3]:
data

{'pop': [1.5, 1.7, 3.6, 2.4, 2.9],
 'state': ['ohio', 'ohio', 'ohio', 'nevada', 'nevada'],
 'year': [2000, 2001, 2002, 2001, 2002]}

In [4]:
frame = DataFrame(data)

In [5]:
frame

   pop   state  year
0  1.5    ohio  2000
1  1.7    ohio  2001
2  3.6    ohio  2002
3  2.4  nevada  2001
4  2.9  nevada  2002

In [6]:
frame.state.name = 'test'

In [7]:
frame #changing  column name can't reflect on frame columns

   pop   state  year
0  1.5    ohio  2000
1  1.7    ohio  2001
2  3.6    ohio  2002
3  2.4  nevada  2001
4  2.9  nevada  2002

In [8]:
DataFrame(data, columns = [1,2,3])#没有这三列

Empty DataFrame
Columns: [1, 2, 3]
Index: []

In [9]:
DataFrame(data, columns = [])

Empty DataFrame
Columns: []
Index: []

In [11]:
frame['pop']

0    1.5
1    1.7
2    3.6
3    2.4
4    2.9
Name: pop, dtype: float64

## 使用ix找到行

In [15]:
frame.ix[0]

pop       1.5
state    ohio
year     2000
Name: 0, dtype: object

In [16]:
frame['debt'] = 16.5

In [17]:
frame

   pop   state  year  debt
0  1.5    ohio  2000  16.5
1  1.7    ohio  2001  16.5
2  3.6    ohio  2002  16.5
3  2.4  nevada  2001  16.5
4  2.9  nevada  2002  16.5

In [18]:
np.arange(5.)

array([ 0.,  1.,  2.,  3.,  4.])

In [19]:
frame['debt'] = np.arange(5)

In [20]:
frame

   pop   state  year  debt
0  1.5    ohio  2000     0
1  1.7    ohio  2001     1
2  3.6    ohio  2002     2
3  2.4  nevada  2001     3
4  2.9  nevada  2002     4

## Series 有索引 并且按照索引创建列

In [22]:
val = Series([1,2,5.6] , index=[2,3,5])

In [23]:
frame['debt_'] = val

In [24]:
frame

   pop   state  year  debt  debt_
0  1.5    ohio  2000     0    NaN
1  1.7    ohio  2001     1    NaN
2  3.6    ohio  2002     2    1.0
3  2.4  nevada  2001     3    2.0
4  2.9  nevada  2002     4    NaN

In [25]:
need_to_compare_val = Series([1,2,3])

In [26]:
val == need_to_compare_val

ValueError: Can only compare identically-labeled Series objects

In [27]:
need_to_compare_val = Series([1,2,3],index =[1,2,3])

In [28]:
val == need_to_compare_val

ValueError: Can only compare identically-labeled Series objects

* an only compare identically-labeled Series objects
* 必须完全相等的index才能比较

In [29]:
val == val

2    True
3    True
5    True
dtype: bool

In [30]:
need_to_compare_val.index = [2,3,5]

In [31]:
val == need_to_compare_val

2     True
3     True
5    False
dtype: bool

In [32]:
val[_]

2    1.0
3    2.0
dtype: float64

## 等长不等index的单列的Frame进行比较

In [35]:
val = DataFrame([1,2,5.6] , index=[2,3,5])

In [36]:
val

     0
2  1.0
3  2.0
5  5.6

In [37]:
val1 = DataFrame([14,27,56] , index=[1,2,3])

In [38]:
val1

    0
1  14
2  27
3  56

In [41]:
val [val1]

ValueError: Must pass DataFrame with boolean values only

* 切片传进去的是布尔值坐标

## 比较两个DataFrame的条件

In [48]:
val_ = DataFrame({0:[14,27,56],1:[1,2,3]} , index=[2,3,5])

In [49]:
val_

    0  1
2  14  1
3  27  2
5  56  3

In [50]:
val

     0
2  1.0
3  2.0
5  5.6

In [55]:
val  == val_[0].to_frame()

       0
2  False
3  False
5  False

## 根据布尔值索引判断选中的行

In [57]:
val_

    0  1
2  14  1
3  27  2
5  56  3

In [61]:
type(val  == val_[0].to_frame())

pandas.core.frame.DataFrame

In [64]:
val_[0] == 14

2     True
3    False
5    False
Name: 0, dtype: bool

In [84]:
val_[Series([True,True,False],index=[2,3,5])]

    0  1
2  14  1
3  27  2

In [85]:
val_[Series([True,True,False],index=[1,3,5])]

/home/zhanghui/py35/lib/python3.5/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

* 应用boolean序列的时候 ， 索引必须完全相同

In [90]:
val_[0].to_frame()[Series([True,True,False],index=[1,3,5]).to_frame()]

      0
2   NaN
3  27.0
5   NaN

* 除非被筛选的是单列

## 时间和时间处理知识

In [3]:
from datetime import datetime ,timedelta , date , time

In [21]:
datetime.now()

datetime.datetime(2017, 6, 7, 12, 50, 51, 671801)

In [31]:

time.strftime(time(16,12,2),'%Y%m%d')

'19000101'

In [29]:
time(12,5,3)

datetime.time(12, 5, 3)

In [23]:
datetime(2016,12,2)

datetime.datetime(2016, 12, 2, 0, 0)

In [75]:
date(2017,2,3)

datetime.date(2017, 2, 3)

In [76]:
datetime()

TypeError: an integer is required (got type datetime.date)

In [71]:
_.today()

datetime.date(2017, 6, 6)

In [72]:
_

datetime.date(2017, 6, 6)

In [29]:
_.date()

datetime.date(2017, 6, 6)

In [30]:
_.day

6

In [31]:
_28

datetime.datetime(2017, 6, 6, 16, 46, 43, 446886)

In [34]:
datetime.now() - _31

datetime.timedelta(0, 93, 683813)

In [38]:
_28 + timedelta(12)

datetime.datetime(2017, 6, 18, 16, 46, 43, 446886)

In [41]:
stamp = datetime(2012,2,3)

In [40]:
str(_)

'2012-02-03 00:00:00'

In [42]:
stamp.strftime('%Y%m%d')

'20120203'

In [43]:
value  = _

In [44]:
value

'20120203'

In [45]:
datetime.strptime(value,'%Y%m%d')

datetime.datetime(2012, 2, 3, 0, 0)

In [46]:
from dateutil.parser import parse

In [48]:
parse(value)

datetime.datetime(2012, 2, 3, 0, 0)

In [49]:
datastrs =['20120713','20130622']

In [50]:
pd.to_datetime(datastrs)

DatetimeIndex(['2012-07-13', '2013-06-22'], dtype='datetime64[ns]', freq=None)

In [51]:
pd.to_datetime(datastrs + [None])

DatetimeIndex(['2012-07-13', '2013-06-22', 'NaT'], dtype='datetime64[ns]', freq=None)

In [52]:
_[2]

NaT

In [53]:
type(_)

pandas.tslib.NaTType

In [54]:
datetime.now()

datetime.datetime(2017, 6, 6, 17, 6, 9, 216452)

In [55]:
_.strftime('年:%Y月:%m日:%d小时:%H分钟:%M秒:%S')

'年:2017月:06日:06小时:17分钟:06秒:09'

In [56]:
_54.strftime('%w %W%z')

'2 23'

In [57]:
_54.strftime('%w %W %z')

'2 23 '

In [58]:
_54.strftime('%F')

'2017-06-06'

In [59]:
_54.strftime('%a %A')

'Tue Tuesday'

In [60]:
_54.strftime('%b %B')

'Jun June'

In [61]:
_54.strftime('%c')

'Tue Jun  6 17:06:09 2017'

In [62]:
_54.strftime('%p')

'PM'

In [63]:
_54.strftime('%X %x')

'17:06:09 06/06/17'